header{}

.header__top{
    background-color: #3b84b0;
    text-transform: uppercase;
    font-size: 13px;
    padding: 10px;
    color: white;
}
.header__bottom{
    background-image: url("../image/bg_headerBottom.jpg");
    background-size: cover;
    padding: 15px;
}
.header__bottom h2{
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 35px;
    color: white;
    text-transform: uppercase;
}
.header__bottom ul{
    margin: 0;
    padding: 0;
    color: white;
    font-size: 14px;
}
.header__bottom ul li{
    list-style: none;
    margin-bottom: 10px;
}
.header__bottom ul li:last-child{
    margin-bottom: 0;
}
